<div class="contact_form2">
  <div class="formulario">
    <h1>Histórico de Empleados</h1>
    <table width="400" border="1" cellpadding="10" cellspacing="0" bordercolor="#000000" id="table_contact_form">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Salary</th>          
        </tr>
      </thead>
      <tbody>
        {{#each arrayMongoEmployees}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{position}}
          </td>
          <td>
            {{office}}
          </td>
          <td>
            {{salary}}
          </td>
          {{!-- <td>
            {{subject}}
          </td>
          <td>
            {{message}}
          </td>
          <td>
            {{timestamp}}
          </td>
          <td>
            <a href="/edit/{{id}}">Editar</a>
          </td> 
          <td>
            <a href="/contacts_list/delete/{{id}}">Eliminar</a>
          </td>--}}
        </tr>
        {{else}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>